html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-size: 16px;
  font-family: sans-serif; }

.central {
  display: table;
  height: 100%;
  min-width: 100%; }
  .central > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .central > * > * {
      display: inline-block;
      text-align: start;
      overflow: auto; }

input {
  padding: 6px;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: inherit;
  color: inherit;
  outline: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); }

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  background-size: 24px;
  background: no-repeat center center;
  vertical-align: middle;
  border: none;
  padding: 0; }
  .icon.tiny {
    width: 16px;
    height: 16px;
    background-size: 16px; }
  .icon.small {
    width: 24px;
    height: 24px;
    background-size: 24px; }
  .icon.medium {
    width: 32px;
    height: 32px;
    background-size: 32px; }
  .icon.large {
    width: 48px;
    height: 48px;
    background-size: 48px; }
  .icon.huge {
    width: 64px;
    height: 64px;
    background-size: 64px; }
  .icon.giant {
    width: 96px;
    height: 96px;
    background-size: 96px; }
  .icon.hoverable {
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .icon.hoverable:hover {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15); }
  .icon.floating.left {
    float: left; }
  .icon.white {
    filter: grayscale(100%) brightness(5); }
  .icon.black {
    filter: grayscale(100%) brightness(0); }
  .icon.baseline {
    vertical-align: baseline; }

.icon.file {
  background-image: url(icons/file.svg); }

.icon.file-js {
  background-image: url(icons/file-js.svg); }

.icon.file-ml {
  background-image: url(icons/file-ml.svg); }

.icon.file-img {
  background-image: url(icons/file-img.svg); }

.icon.file-txt {
  background-image: url(icons/file-txt.svg); }

.icon.file-css {
  background-image: url(icons/file-css.svg); }

.icon.folder {
  background-image: url(icons/folder.svg); }

.icon.folder-open {
  background-image: url(icons/folder-open.svg); }

.layout {
  position: relative;
  height: 100%;
  width: 100%; }
  .layout > .col1 {
    height: 100%;
    overflow: auto; }
  .layout > .col2 {
    overflow: auto;
    height: 100%; }
  .layout.layout-desktop > .col1 {
    float: left;
    width: 300px; }
  .layout.layout-desktop > .col2 {
    margin-left: 300px; }
  .layout.layout-mobile > .col2 {
    display: none; }

#welcome-form {
  padding: 10px;
  text-align: center; }

.file-tree {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .file-tree > .item {
    display: block;
    padding: 0;
    margin: 0; }
    .file-tree > .item > .head {
      cursor: pointer;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .file-tree > .item > .head > .icon {
        width: 24px;
        height: 24px;
        float: left;
        margin: 2px; }
      .file-tree > .item > .head > .name {
        line-height: 28px;
        margin-left: 28px; }
      .file-tree > .item > .head:hover {
        margin-left: 5px; }
    .file-tree > .item > .file-tree {
      margin-left: 28px; }

.file-browser {
  white-space: pre;
  font-family: monospace; }
