html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-size: 16px;
  font-family: sans-serif;
  overflow: hidden; }

.central {
  display: table;
  height: 100%;
  min-width: 100%; }
  .central > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .central > * > * {
      display: inline-block;
      text-align: start;
      overflow: auto; }

input {
  padding: 6px;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: inherit;
  color: inherit;
  outline: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); }

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  background-size: 24px;
  background: no-repeat center center;
  vertical-align: middle;
  border: none;
  padding: 0; }
  .icon.tiny {
    width: 16px;
    height: 16px;
    background-size: 16px; }
  .icon.small {
    width: 24px;
    height: 24px;
    background-size: 24px; }
  .icon.medium {
    width: 32px;
    height: 32px;
    background-size: 32px; }
  .icon.large {
    width: 48px;
    height: 48px;
    background-size: 48px; }
  .icon.huge {
    width: 64px;
    height: 64px;
    background-size: 64px; }
  .icon.giant {
    width: 96px;
    height: 96px;
    background-size: 96px; }
  .icon.hoverable {
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .icon.hoverable:hover {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15); }
  .icon.floating.left {
    float: left; }
  .icon.white {
    filter: grayscale(100%) brightness(5); }
  .icon.black {
    filter: grayscale(100%) brightness(0); }
  .icon.baseline {
    vertical-align: baseline; }

.icon.file {
  background-image: url(icons/file.svg); }

.icon.file-js {
  background-image: url(icons/file-js.svg); }

.icon.file-ml {
  background-image: url(icons/file-ml.svg); }

.icon.file-img {
  background-image: url(icons/file-img.svg); }

.icon.file-txt {
  background-image: url(icons/file-txt.svg); }

.icon.file-css {
  background-image: url(icons/file-css.svg); }

.icon.folder {
  background-image: url(icons/folder.svg); }

.icon.folder-open {
  background-image: url(icons/folder-open.svg); }

.layout {
  position: relative;
  height: 100%;
  width: 100%; }
  .layout > .header {
    height: 34px;
    padding: 3px;
    box-sizing: border-box; }
    .layout > .header > .logo-container {
      display: inline-block;
      float: left;
      text-decoration: none;
      border: none;
      outline: none;
      cursor: pointer;
      height: 31px; }
      .layout > .header > .logo-container > .logo {
        height: 31px; }
    .layout > .header > .top {
      white-space: pre;
      margin-left: 34px; }
      .layout > .header > .top > .name {
        font-weight: bold; }
    .layout > .header > .body {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 34px; }
      .layout > .header > .body > .size {
        font-weight: bold; }
      .layout > .header > .body > .desc {
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis; }
  .layout > .col1, .layout > .col2 {
    height: 100%;
    height: calc(100% - 34px); }
  .layout > .col1 {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch; }
  .layout > .col2 {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    padding: 3px;
    box-sizing: border-box; }
    .layout > .col2 > .close-button {
      display: none;
      float: right;
      z-index: 999;
      text-align: right;
      padding: 3px;
      font-weight: bold;
      text-decoration: underline;
      right: 5px;
      top: 5px;
      cursor: pointer; }
      .layout > .col2 > .close-button:before {
        content: "Close"; }
    .layout > .col2 > .file-name {
      font-weight: bold;
      padding: 3px 3px 3px 0; }
  .layout.layout-desktop > .col1 {
    float: left;
    width: 300px; }
  .layout.layout-desktop > .col2 {
    margin-left: 300px; }
  .layout.layout-mobile > .col2 {
    display: none; }
  .layout.layout-mobile.file-selected > .col1 {
    display: none; }
  .layout.layout-mobile.file-selected > .col2 {
    display: block; }
    .layout.layout-mobile.file-selected > .col2 > .close-button {
      display: block; }

#welcome-form {
  padding: 10px;
  text-align: center; }
  #welcome-form img {
    display: inline-block;
    height: 36px;
    vertical-align: baseline; }

#root > .author {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  color: #777;
  padding: 1px;
  text-align: center; }

.layout .dir-path {
  font-family: monospace;
  line-height: 28px;
  margin-left: 2px; }

.file-tree {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .file-tree > .item {
    display: block;
    padding: 0;
    margin: 0; }
    .file-tree > .item > .head {
      cursor: pointer;
      overflow: hidden;
      white-space: pre;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .file-tree > .item > .head.selected {
        font-weight: bold;
        text-decoration: underline; }
      .file-tree > .item > .head > .icon {
        width: 24px;
        height: 24px;
        float: left;
        margin: 2px; }
      .file-tree > .item > .head > .size {
        float: right;
        line-height: 28px;
        font-size: 12px;
        padding-right: 3px; }
      .file-tree > .item > .head > .name {
        line-height: 28px;
        margin-left: 28px;
        margin-right: 55px; }
      .file-tree > .item > .head:hover {
        padding-left: 5px;
        padding-right: 5px; }
    .file-tree > .item > .file-tree {
      margin-left: 28px; }

.file-browser {
  white-space: pre;
  font-family: monospace; }
  .file-browser .image {
    max-width: 100%; }
