@import "const";

.file-tree {

	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;

	> .item {

		$iconMargin: 2px;
		$square: $sizeSmall + $iconMargin * 2;

		display: block;
		padding: 0;
		margin: 0;

		> .head {

			cursor: pointer;
			overflow: hidden;
			@include transition($defaultTransition);

			> .icon {

				width: $sizeSmall;
				height: $sizeSmall;
				float: left;
				margin: $iconMargin;

			}

			> .name {

				line-height: $square;
				margin-left: $square;

			}

			&:hover {
				margin-left: 5px;
			}

		}

		> .file-tree {

			margin-left: $square;

		}

	}

}