$dp: 3px;

.layout {

	position: relative;
	height: 100%;
	width: 100%;

	> .col1 {
		height: 100%;
		overflow: auto;
	}

	> .col2 {

		position: relative;
		overflow: auto;
		height: 100%;

		> .close-button {
			display: none;
			float: right;
			z-index: 999;
			text-align: right;
			padding: $dp;
			font-weight: bold;
			text-decoration: underline;
			right: 5px;
			top: 5px;
			cursor: pointer;
			&:before {
				content: "Close";
			}
		}

		> .file-name {
			font-weight: bold;
			padding: $dp;
		}

	}

	&.layout-desktop {

		> .col1 {
			float: left;
			width: 300px;
		}

		> .col2 {
			margin-left: 300px;
		}

	}

	&.layout-mobile {

		> .col2 {
			display: none;
		}

		&.file-selected {

			> .col1 {
				display: none;
			}

			> .col2 {

				display: block;

				> .close-button {
					display: block;
				}

			}

		}

	}

}