#welcome-form {

	padding: 10px;
	text-align: center;

	img {
		display: inline-block;
		height: 36px;
		vertical-align: baseline;
	}

}

#root > .author {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 13px;
	color: #777;
	padding: 1em;
	text-align: center;
}